html,
body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#root {
    width: 800px;
    height: 600px;
    margin: auto;
    padding: 0;
    background-color: #FFFFFF;
}

body {
    background-color: white;
    cursor: default;
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    line-height: 20px;
}

img {
    border: none;
}

*:not(input):not(textarea) {
    user-select: none;
    -webkit-user-select: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
